<div class="row mt-4">

	<div class="col-md-6 d-none d-md-block" style="height: 450px;">
		<div class="text-center col-md-12 my-auto side-heder">
			<h1>User Registration</h1>
			<img src="../../../../assets/registerImage.png" class="my-4" alt="" width="400px">
		</div>
	</div>

	<div class="col-md-6">

		<form [formGroup]="form" class="p-1">
            <div class="pb-2 d-block d-md-none">
                <h3 class="border-bottom">User Registration</h3>
            </div>
            <div class="form-row">
                <div class="form-group col-sm-6">
                    <label>First Name</label>
                    <input type="text" class="form-control"
                      [ngClass]="{'is-invalid': f.firstName!.errors && f.firstName!.touched}"
                      formControlName="firstName" placeholder="Type the First Name" />
                    <div *ngIf="f.firstName!.errors?.required && f.firstName.touched" class="invalid-feedback">
                        First name required.
                    </div>
                </div>
                <div class="form-group col-sm-6">
                    <label>Last Name</label>
                    <input type="text" class="form-control"
                      [ngClass]="{'is-invalid': f.lastName!.errors && f.lastName!.touched}"
                      formControlName="lastName" placeholder="Type the Last Name" />
                    <div *ngIf="f.lastName!.errors?.required && f.lastName.touched" class="invalid-feedback">
                        Last name required.
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="">Email:</label>
                <input class="form-control"
                  [ngClass]="{'is-invalid': f.email!.errors && f.email!.touched}"
                  formControlName="email" type="text" placeholder="Type the E-mail" />
                <div *ngIf="f.email!.errors?.required && f.email.touched" class="invalid-feedback">
                    Email required.
                </div>
                <div *ngIf="f.email!.errors?.email && f.email.touched" class="invalid-feedback">
                  Must be a valid email.
                </div>
            </div>
            <div class="form-group">
                <label for="">User:</label>
                <input class="form-control"
                  [ngClass]="{'is-invalid': f.userName!.errors && f.userName!.touched}"
                  formControlName="userName" type="text" placeholder="Type the Username" />      
                <div *ngIf="f.userName!.errors?.required && f.userName.touched" class="invalid-feedback">
                    Username required.
                </div>
                <div *ngIf="f.userName!.errors?.minlength && f.userName.touched" class="invalid-feedback">
                    Must have at least 5 characters.
                </div>
                <div *ngIf="f.userName!.errors?.maxlength && f.userName.touched" class="invalid-feedback">
                    Must be less than 15 characters.
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-sm-6">
                    <label for="">Password:</label>
                    <input class="form-control"
                      [ngClass]="{'is-invalid': f.password!.errors && f.password!.touched}"
                      formControlName="password" type="password" placeholder="Type a Password" />
                    <div *ngIf="f.password!.errors?.required && f.password.touched" class="invalid-feedback">
                        Password required.
                    </div>
                    <div *ngIf="f.password!.errors?.minlength && f.password.touched" class="invalid-feedback">
                        Must have at least 6 characters.
                    </div>
                </div>
                <div class="form-group col-sm-6">
                    <label for="">Confirm Password:</label>
                    <input class="form-control"
                      [ngClass]="{'is-invalid': f.confirmPassword!.errors && f.confirmPassword!.touched}"
                      formControlName="confirmPassword" type="password" placeholder="Confirm your Password" />
                    <div *ngIf="f.confirmPassword!.errors?.required && f.confirmPassword.touched" class="invalid-feedback">
                        Password confirmation required.
                    </div>
                    <div *ngIf="f.confirmPassword!.errors?.mustMatch && f.confirmPassword.touched" class="invalid-feedback">
                        Passwords must match.
                    </div>
                </div>
            </div>
            <div class="form-row p-1 mb-3">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheck1">
                    <label class="custom-control-label">I agree with the <a href="#">terms of use</a>.</label>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-12">
                    <button class="btn btn-lg btn-success btn-block px-5">
                        Register
                    </button>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-12">
                    <a class="btn btn-link btn-block" routerLink="/user/login">
                        I already have an account
                    </a>
                </div>
            </div>
        </form>
	</div>
</div>