<div class="row mt-4">

	<div class="col-md-6 d-none d-md-block" style="height: 450px;">
		<div class="text-center col-md-12 my-auto side-heder">
			<h1>User Registration</h1>
			<img src="../../../../assets/registerImage.png" class="my-4" alt="" width="400px">
		</div>
	</div>

	<div class="col-md-6">

		<form class="p-1">
            <div class="pb-2 d-block d-md-none">
                <h3 class="border-bottom">User Registration</h3>
            </div>
            <div class="form-row">
                <div class="form-group col-sm-6">
                    <label>First Name</label>
                    <input type="text" class="form-control" placeholder="Type the First Name" />
                </div>
                <div class="form-group col-sm-6">
                    <label>Last Name</label>
                    <input type="text" class="form-control" placeholder="Type the Last Name" />
                </div>
            </div>
            <div class="form-group">
                <label for="">E-mail:</label>
                <input class="form-control" type="text" placeholder="Type the E-mail" />
            </div>
            <div class="form-group">
                <label for="">User:</label>
                <input class="form-control" type="text" placeholder="Type the Username" />      
            </div>
            <div class="form-row">
                <div class="form-group col-sm-6">
                    <label for="">Password:</label>
                    <input class="form-control" type="password" placeholder="Type a Password" />
                </div>
                <div class="form-group col-sm-6">
                    <label for="">Confirm Password:</label>
                    <input class="form-control" type="password" placeholder="Confirm your Password" />
                </div>
            </div>
            <div class="form-row p-1 mb-3">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheck1">
                    <label class="custom-control-label">I agree with the <a href="#">terms of use</a>.</label>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-12">
                    <button class="btn btn-lg btn-success btn-block px-5">
                        Register
                    </button>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-12">
                    <a class="btn btn-link btn-block" routerLink="/user/login">
                        I already have an account
                    </a>
                </div>
            </div>
        </form>

	</div>
</div>