<app-titulo [titulo]="titulo"></app-titulo>

<div class="form-inline">
  <div class="form-group mb-2">
    <label class="mr-2">Busca:</label>
    <input type="text"
      class="form-control mr-2"
      placeholder="Buscar"
      [(ngModel)]="filtroLista"
      >
  </div>
</div>

<p>{{filtroLista}}</p>

<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th>#</th>
      <th>
        <button type="button" class="btn btn-outline-light btn-sm" (click)="isCollapsed = !isCollapsed"
        [attr.aria-expanded]="!isCollapsed" aria-controls="collapseBasic">
        <i class="{{isCollapsed ? 'fa fa-eye' : 'fa fa-eye-slash'}}"></i>
        {{isCollapsed ? 'Exibir Imagem' : 'Ocultar Imagem'}}
      </button></th>
      <th>Tema</th>
      <th>Local</th>
      <th>Data</th>
      <th>Qtd de Pessoas</th>
      <th>Lote</th>
      <th>Opções</th>
    </tr>
  </thead>
  <tbody *ngIf="eventos && eventos.length">
    <tr *ngFor="let evento of eventosFiltrados">
      <td>{{evento.id}}</td>
      <td>
        <div id="collapseBasic" [collapse]="isCollapsed" [isAnimated]="true">
          <img src="/assets/{{evento.imagemURL}}"
          [style.width.px]="larguraImg"
          [style.height.px]="larguraImg"
          [style.margin.px]="margemImg"
          >
        </div>
      </td>
      <td>{{evento.tema}}</td>
      <td>{{evento.local}}</td>
      <td>{{evento.dataEvento | DateTimeFormat}}</td>
      <td>{{evento.qtdPessoas}}</td>
      <td>{{evento.lotes[0].nome | uppercase}}</td>
      <td>
        <div class="row">
          <div class="col-4 text-left">
            <button type="button" class="btn btn-primary btn-sm mr-2" tooltip="Editar">
              <i class="fa fa-edit"></i>
            </button>
          </div>
          <div class="col-4 text-left">
        <button type="button" class="btn btn-danger btn-sm" tooltip="Deletar" (click)="openModal(template)">
          <i class="fa fa-trash"></i>
        </button>
        </div>
      </div>
      </td>
    </tr>
  </tbody>
  <tfoot *ngIf="!eventos.length">
    <tr>
      <td colspan="8" class="text-center">
        <h4>Nenhum evento encontrado!</h4>
      </td>
    </tr>
  </tfoot>
</table>

<ng-template #template>
  <div class="modal-body text-center">
    <p>Tem certeza que quer deletar este evento?</p>
    <button type="button" class="btn btn-default" (click)="confirm()">Sim</button>
    <button type="button" class="btn btn-primary" (click)="decline()">Não</button>
  </div>
</ng-template>
