<app-title [title]="title"></app-title>

<div class="form-inline">
  <div class="form-group mb-2">
    <label class="mr-2">Search:</label>
    <input type="text"
      class="form-control mr-2"
      placeholder="Search"
      [(ngModel)]="listFilter"
      >
  </div>
</div>

<p>{{listFilter}}</p>

<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th>#</th>
      <th>
        <button type="button" class="btn btn-outline-light btn-sm" (click)="isCollapsed = !isCollapsed"
        [attr.aria-expanded]="!isCollapsed" aria-controls="collapseBasic">
        <i class="{{isCollapsed ? 'fa fa-eye' : 'fa fa-eye-slash'}}"></i>
        {{isCollapsed ? 'Show Image' : 'Hide Image'}}
      </button></th>
      <th>Theme</th>
      <th>Place</th>
      <th>Date</th>
      <th>Capacity</th>
      <th>Batch</th>
      <th>Options</th>
    </tr>
  </thead>
  <tbody *ngIf="events && events.length">
    <tr *ngFor="let event of filteredEvents">
      <td>{{event.id}}</td>
      <td>
        <div id="collapseBasic" [collapse]="isCollapsed" [isAnimated]="true">
          <img src="/assets/{{event.imgURL}}"
          [style.width.px]="imgWidth"
          [style.height.px]="imgWidth"
          [style.margin.px]="imgMargin"
          >
        </div>
      </td>
      <td>{{event.theme}}</td>
      <td>{{event.place}}</td>
      <td>{{event.eventDate | DateTimeFormat}}</td>
      <td>{{event.capacity}}</td>
      <td>{{event.batches[0].name | uppercase}}</td>
      <td>
        <div class="row">
          <div class="col-4 text-left">
            <button type="button" class="btn btn-primary btn-sm mr-2" tooltip="Edit">
              <i class="fa fa-edit"></i>
            </button>
          </div>
          <div class="col-4 text-left">
        <button type="button" class="btn btn-danger btn-sm" tooltip="Delete" (click)="openModal(template)">
          <i class="fa fa-trash"></i>
        </button>
        </div>
      </div>
      </td>
    </tr>
  </tbody>
  <tfoot *ngIf="!events.length">
    <tr>
      <td colspan="8" class="text-center">
        <h4>No event was found!</h4>
      </td>
    </tr>
  </tfoot>
</table>

<ng-template #template>
  <div class="modal-body text-center">
    <p>Are you sure you want to delete this event?</p>
    <button type="button" class="btn btn-default" (click)="confirm()">Sim</button>
    <button type="button" class="btn btn-primary" (click)="decline()">Não</button>
  </div>
</ng-template>
